@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;900&display=swap");

body {
  font-family: Poppins !important;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

:root {
  --plyr-color-main: #334155;
}

html {
  -webkit-font-smoothing: antialiased;
}

footer {
  background: rgb(51, 65, 85);
  padding: 20px 0;
  margin-top: 80px;
  color: white;
}

.footer_container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo {
  width: 180px;
}

h1 {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 204, 204, 0.596);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3ae949;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3ae949;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.audio-header {
  border: 1px solid rgba(180, 191, 243, 0.356);
  border-right: none;
}

.video-header {
  border: 1px solid rgba(180, 191, 243, 0.356);
  border-left: none;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.button {
  display: inline-block;
  font-size: 1.15em;
  position: relative;
  text-align: center;
  padding: 0.5em 1em;
  background: linear-gradient(45deg, #3f455f, #404663);
  color: #fff !important;
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
  border-radius: 0.2em;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  transition: 0.25s;
}
.button:active {
  background-color: #ccc;
  box-shadow: 0 0 6px rgba(0, 121, 238, 0.6);
  transition: box-shadow 0.1s ease-in-out;
}
.button:after {
  content: "\0021e7";
  position: absolute;
  top: -0.4em;
  left: 0;
  right: 0;
  display: block;
  transform: rotate(180deg);
  font-size: 5em;
  opacity: 0;
  text-shadow: 0 0 1em #000;
  transition: opacity 0.3s ease-in-out, font-size 0.3s ease-in-out,
    top 0.3s ease-in-out;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  height: 0;
}
.button:active:after {
  font-size: 1em;
  opacity: 1;
  transition: none;
  top: 0.3em;
}
.button:hover {
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.25);
}
