@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;900&display=swap");

body {
  font-family: Poppins !important;
}

.download_button {
  margin: 20px;
  text-decoration: none;
  display: block;
  width: 320px;
  height: 110px;
  padding: 1px;
  border: 1px solid white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}

.download_button .filename {
  font-size: 20px;
  margin: 10px 20px 0;
}
.download_button .filesize {
  margin: 10px 20px 0;
}

.download_button .downloads {
  margin: 5px 20px 0;
}

.download_button .downloadicon {
  position: relative;
  float: right;
  margin: 10px;
  width: 140px;
  height: 90px;
}

@-webkit-keyframes movedown {
  0% {
    -webkit-transform: translateY(-1.5em);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1.5em);
    opacity: 0;
  }
}
@-moz-keyframes movedown {
  0% {
    transform: translateY(-1.5em);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1.5em);
    opacity: 0;
  }
}
@-o-keyframes movedown {
  0% {
    -o-transform: translateY(-1.5em);
    opacity: 0;
  }
  50% {
    -o-transform: translateY(0);
    opacity: 1;
  }
  100% {
    -o-transform: translateY(1.5em);
    opacity: 0;
  }
}
@keyframes movedown {
  0% {
    transform: translateY(-1.5em);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1.5em);
    opacity: 0;
  }
}

.download_button .cloud {
  width: 140px;
  height: 50px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  top: 40px;
}
.download_button .cloud:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -30px;
  left: 70px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  box-shadow: -40px 0 0 10px #fff;
}

.download_button .cloud .arrowdown {
  background: #334155;
  position: absolute;
  top: -10px;
  left: 60px;
  width: 10px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-animation: movedown 2s infinite linear;
  -moz-animation: movedown 2s infinite linear;
  -o-animation: movedown 2s infinite linear;
  animation: movedown 2s infinite linear;
}

.download_button .cloud .arrowdown:before,
.download_button .cloud .arrowdown:after {
  top: 14px;
  content: "";
  position: absolute;
  background: #334155;
  position: absolute;
  width: 10px;
  height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.download_button .cloud .arrowdown:before {
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 70% 90%;
}
.download_button .cloud .arrowdown:after {
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 30% 90%;
}

.download_button {
  background: #334155; /* Old browsers */
  background: -moz-linear-gradient(top, #334155 0%, #334159 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #334155),
    color-stop(100%, #334159)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #334155 0%,
    #334159 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #334155 0%,
    #334159 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #334155 0%, #334159 100%); /* IE10+ */
  background: linear-gradient(to bottom, #334155 0%, #334159 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334155', endColorstr='#334159',GradientType=0 ); /* IE6-9 */
}

:root {
  --plyr-color-main: #334155;
}

.button.dark-single {
  --background: none;
  --rectangle: #334155;
  --success: #4bc793;
}
.button.white-single {
  --background: none;
  --rectangle: #f5f9ff;
  --arrow: #275efe;
  --success: #275efe;
  --shadow: rgba(10, 22, 50, 0.1);
}
.button.dark {
  --background: #334155;
  --rectangle: #1c212e;
  --arrow: #f5f9ff;
  --text: #f5f9ff;
  --success: #2f3545;
}
.button {
  --background: #275efe;
  --rectangle: #184fee;
  --success: #4672f1;
  --text: #fff;
  --arrow: #fff;
  --checkmark: #fff;
  --shadow: rgba(10, 22, 50, 0.24);
  display: flex;
  overflow: hidden;
  text-decoration: none;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px var(--shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #4e5f77;
}
.button:active {
  transform: scale(0.95);
  box-shadow: 0 1px 4px -1px var(--shadow);
}
.button ul {
  margin: 0;
  padding: 16px 40px;
  list-style: none;
  text-align: center;
  position: relative;
  backface-visibility: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--text);
}
.button ul li:not(:first-child) {
  top: 16px;
  left: 0;
  right: 0;
  position: absolute;
}
.button ul li:nth-child(2) {
  top: 76px;
}
.button ul li:nth-child(3) {
  top: 136px;
}
.button > div {
  position: relative;
  width: 60px;
  height: 60px;
  background: var(--rectangle);
}
.button > div:before,
.button > div:after {
  content: "";
  display: block;
  position: absolute;
}
.button > div:before {
  border-radius: 1px;
  width: 2px;
  top: 50%;
  left: 50%;
  height: 17px;
  margin: -9px 0 0 -1px;
  background: var(--arrow);
}
.button > div:after {
  width: 60px;
  height: 60px;
  transform-origin: 50% 0;
  border-radius: 0 0 80% 80%;
  background: var(--success);
  top: 0;
  left: 0;
  transform: scaleY(0);
}
.button > div svg {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -9px 0 0 -10px;
  fill: none;
  z-index: 1;
  stroke-width: 2px;
  stroke: var(--arrow);
  stroke-linecap: round;
  stroke-linejoin: round;
}
.button.loading ul {
  animation: text calc(var(--duration) * 1ms) linear forwards
    calc(var(--duration) * 0.065ms);
}
.button.loading > div:before {
  animation: line calc(var(--duration) * 1ms) linear forwards
    calc(var(--duration) * 0.065ms);
}
.button.loading > div:after {
  animation: background calc(var(--duration) * 1ms) linear forwards
    calc(var(--duration) * 0.065ms);
}
.button.loading > div svg {
  animation: svg calc(var(--duration) * 1ms) linear forwards
    calc(var(--duration) * 0.065ms);
}
@keyframes text {
  10%,
  85% {
    transform: translateY(-100%);
  }
  95%,
  100% {
    transform: translateY(-200%);
  }
}
@keyframes line {
  5%,
  10% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-20px);
  }
  65% {
    transform: translateY(0);
  }
  75%,
  100% {
    transform: translateY(30px);
  }
}
@keyframes svg {
  0%,
  20% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  21%,
  89% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 26px;
    stroke-width: 3px;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  100% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 0;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  12% {
    opacity: 1;
  }
  20%,
  89% {
    opacity: 0;
  }
  90%,
  100% {
    opacity: 1;
  }
}
@keyframes background {
  10% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(0.15);
  }
  65% {
    transform: scaleY(0.5);
    border-radius: 0 0 50% 50%;
  }
  75% {
    border-radius: 0 0 50% 50%;
  }
  90%,
  100% {
    border-radius: 0;
  }
  75%,
  100% {
    transform: scaleY(1);
  }
}
html {
  -webkit-font-smoothing: antialiased;
}

footer {
  background: rgb(51, 65, 85);
  padding: 20px 0;
  margin-top: 80px;
  color: white;
}

.footer_container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo {
  width: 180px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo p {
  white-space: normal;
  word-break: keep-all;
}

h1 {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}
